<h2 id="faqh2">A HOW-TO GUIDE</h2>
<h3 class="faqh3">General</h3>
<div class="QnA">
    <hr>

    <div>Q: What are the supported browsers? </div>
    <div>A: This application has been developed and tested on the all major browsers (Microsoft Edge , Firefox and Chrome).</div>



</div>
<br>

<h3 class="faqh3">Device Management</h3>
<div class="QnA">
    <hr>

    <div>Q: How do I create a dashboard widget? </div>
    <div>A: By simply using the wizard tool and following through add selecting the desired sensor or device. </div>

    <div>Q: How do I delete / edit a dashboard widget? </div>
    <div>A: By clicking on the Edit button, every data visualization widget can be resized or deleted and the state of the dashboard can subsequently saved.</div>
    <div>Q: What are the list of supported devices? </div>
    <div>A: TBA </div>

</div>
<br>



<h3 class="faqh3">User Management</h3>
<div class="QnA">
    <hr>



    <div>I hope to be able to answer all the questions you might anticidivate while using this platform. </div>
    <div>I hope to be able to answer all the questions you might anticidivate while using this platform. </div>


</div>
<br>