<div class="modal-header">
  <form role="form">
    <h3 contenteditable ng-model="device.name" type="text">{{childDevice.name}}</h3>
    <div class="row">
    <leaflet ng-if="mapIsReady" lf-center="center" markers="markers" height="300px" class="leaflet"></leaflet>
  </div>
</div>

<div class="modal-body">

    <table class="table table-borderless">
        <thead>
            <tr>
                <td><b>Type</b></td>
                <td><b>Name</b></td>
                <td><b>Status</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{childDevice.type}}</td>
                <td>{{childDevice.name}}</td>
                <ul>
                    <td ng-if="childDevice.c8y_Availability.status === 'AVAILABLE'"><span class="label label-success">Online</span></td>
                    <td ng-if="!childDevice.c8y_Availability"><span class="label label-warning">Unknown</span></td>
                    <td ng-if="childDevice.c8y_Availability.status === 'UNAVAILABLE'"><span class="label label-danger">Offline</span></td>
            </tr>
        </tbody>
    </table>
<hr>
<select ng-if="!isReader" class="styled-select" ng-model="group.id">
    <option disabled selected value> -- select device group -- </option>
    <option ng-repeat="group in groups" value="{{group.id}}">{{group.name}}</option>
</select>

        <button ng-if="!isReader" class="btn-sonera" ng-click="saveChildDevice(device, group)"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
    </form>
</div>
